# Environment variables
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Generated job data
database/jobs.json
database/filtered_jobs.json
database/sent_jobs.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db